src/main/mule/worldtimeapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a22f82a8-aabe-4dc6-9e4b-c3f53bd6182e" >
		<http:listener-connection host="localhost" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c19fbfa4-72bc-46c6-bcc3-42f92d5c5c90" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtimeapiFlow" doc:id="5c02442c-4ead-4ad6-a2dc-02d2c4c543de" >
		<http:listener doc:name="Listener" doc:id="0127fc85-6a0b-4c5f-a5eb-49815f146e33" config-ref="HTTP_Listener_config" path="/Timezone"/>
		<http:request method="GET" doc:name="Request" doc:id="f2e68b04-87d5-44ca-ae5e-6870641b9140" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributs.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
